/* Define a fonte e cor de fundo */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Estilo do formulário */
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo dos rótulos */
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilo dos campos de entrada */
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo do botão */
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo do botão quando passa o mouse por cima */
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  